@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cinzel Decorative', cursive;
  height: 100%;
  width: 100%;
  color: #444;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chapter-container {
  width: 100%;
  height: 100%;
  overflow:auto;
}

.chapter-1-background {
  background: url('../assets/images/chapter_1_bg.png') no-repeat center center fixed;
  background-size: cover;
}

.chapter-2-background {
  background: url('../assets/images/chapter_2_bg.png') no-repeat center center fixed;
  background-size: cover;
}

.chapter-3-background {
  background: url('../assets/images/chapter_3_bg.png') no-repeat center center fixed;
  background-size: cover;
  background-position: bottom;
}

.chapter-4-background {
  background: url('../assets/images/chapter_4_bg.png') no-repeat center center fixed;
  background-size: cover;
  background-position: bottom;
}

.chapter-5-background {
  background: url('../assets/photos/chapter_5_bg.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: bottom;
}

.chapter-6-background {
  background: url('../assets/photos/chapter_6_bg.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: bottom;
}

.chapter-mask {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background: rgba(255, 255, 255, 0.6);
  overflow: auto;
  position: relative;
}


@media screen and (max-width: 768px) {
    .chapter-4-mask {
    padding: 0 16px;
  }
}

.chapter-4-mask {
  overflow-y: scroll;
}

.chapter-title {
  padding: 32px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
  margin: auto;
  max-width: 800px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.chapter-title-content {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 32px;
}

.chapter-4 {
  font-size: 32px;
}

.chapter-5 {
  font-size: 24px;
}