
.landing-container {
    width: 100%;
    height: 100%;
    background: url('../assets/images/landing_bg.png') no-repeat center center fixed;
    background-size: cover;

    @media screen and (max-width: 768px) {
      background-position-x: 53%;
  }
  }

  .landing-mask {
    width: 100%;
    height: 100%;
    padding: 24px;
    background: rgba(255, 255, 255, 0.6);
  }
  
  .landing-content {
    text-align: center;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      justify-content: space-evenly;
    }
  }
  
  .landing-logo {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    font-size: 40px;
    color: #474747;
    margin-bottom: 32px;

    @media screen and (max-width: 768px) {
      height: 350px;
      width: 350px;
    }
  }
  
  .enter-button {
    padding: 0;
    border: none;
    width: 200px;
    height: 100px;
    cursor: pointer;
    background: url('../assets/images/landing-button.png');
    background-size: cover;
    background-position: center;
  
    &:hover {
      filter: invert(100%);
    }
  }
